@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$main-font: 'Quicksand', sans-serif;

// Define some colors
$white: #ffffff;
$black: #000000;
$planbuddy-blue: #335c7d;
$heading-color: #333333;
$bg-color: #282c34;
$box-shadow-color: #f133450c;
$dark-box-shadow-color: #7b757517;
$timercircle-dark-box-shadow-color: #ffffff33;
$gradient-stop-1: $planbuddy-blue;
$gradient-stop-2: $planbuddy-blue;
$dark-gradient-stop-1: #232526;
$dark-gradient-stop-2: #414345;